body {
    color: white;
    background-image: url("https://media.cntraveler.com/photos/571848d845342aa9548fb797/16:9/w_2240,c_limit/game-of-thrones-red-keep-cr-hbo.jpg");
}

#question_div {
    display: none;
}

#result_div {
    display: none;
}

#timer{
    font-size: 40px;
    width: 100%;
    /* margin:  auto; */
    margin-left: 5%;
}

.main_container{
    width: 50%;
    margin-left: 34%;
}

.questions{
    margin-bottom: 5%;
    margin-top: 5%;
}
